<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/mybatis/db.properties" />
	<typeAliases>

		<typeAlias type="vo.BoardVo" alias="board"></typeAlias>
		<typeAlias type="vo.MemberVo" alias="member"></typeAlias>
		<typeAlias type="vo.CommentVo" alias="comment"></typeAlias>
		
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
				<property name="poolMaximumActiveConnections" value="20" />
				<property name="poolMaximumIdleConnections" value="10" />
				<property name="poolTimeToWait" value="1" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="config/mybatis/mapper/board.xml" />
		<mapper resource="config/mybatis/mapper/member.xml" />
		<mapper resource="config/mybatis/mapper/comment.xml" />
		
	</mappers>
</configuration>
