<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="../css/layout4.css">

</head>
<body>

	<div id="main_box">
		<div id="header">header</div>
		<div id="aside">aside</div>
		<div id="content">
			<div id="small_content">[공지사항]</div>
			<div id="small_content" style="background-color: #ffcccc">[최근게시물]</div>
			<div id="small_content" style="background-color: #ffcccc">[유용한
				사이트]</div>
			<div id="small_content" style="background-color: #ffcccc">[최근댓글]</div>
		</div>
		<div style="clear: both;" id="footer">footer</div>
	</div>

</body>
</html>