@charset "UTF-8";

body{
	margin: 0px;
}

div#main_box {
	width: 800px;
	height: 600px;
	background-color: #cccccc;
	margin: 0 auto;
}


div#header{
	background-color: #ffcccc;
	width: 100%;
	height:100px;
}

div#aside{
	background-color: #ffffcc;
	width: 30%;
	float: left;
	min-height: 400px;
	height: auto;
}

div#content{
	background-color: #ccffcc;
	min-height: 400px;
	height: auto;
	width: 70%;
	float: left;

}
div#small_content{
	background-color: #8a8aff;
	border: 1px solid black;
	box-sizing:  border-box;
	width: 50%;
	min-height: 200px;
	height:auto;
	float: left;
	
}
div#footer{
	background-color: #ccccff;
	height:100px;
}